{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}About{% endblock %}

{% block body_block %}
    <div class="page-header">
        <h1>About</h1>
        <div>
        <p></strong>.</p>

        <img  width="90" height="100" src="{% static 'images/Penguins.jpg' %}" alt="Picture of Penguins" /> <!-- New line -->
        </div>
    </div>
{% endblock %}