<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Rango</title>
</head>
<body>
    <h1>Add a page</h1>
    <form id="page_form" method="post" action="/rango/category/{{ category.slug }}/add_page/">

        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}
            {{ field }}
        <br><br>
        {% endfor %}

        <input type="submit" name="submit" value="Create Page">

    </form>

</body>
</html>