{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}{{category.name}}{% endblock %}

{% block body_block %}
    <h1>{{ category_name }}</h1>
    {% if category %}
        {% if pages %}
        <ul>
            {% for page in pages  %}
            <li><a href="{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
            <strong>No pages currently in category</strong>
        {% endif %}
    {% else %}
        The specified category {{ category_name }} does not exist!
    {% endif %}
    <br>
    {% if user.is_authenticated %}
    <a href="/rango/category/{{ category_name_slug }}/add_page/">Add a New Page</a><br>
    {% endif %}
{% endblock %}