{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Main page{% endblock %}

{% block body_block %}
    <div class="page-header">
        {% if user.is_authenticated %}
        <h1>Rango says...{{ user.username }}!</h1>
        {% else %}
        <h1>Rango says...that you're not registered!</h1>
        {% endif %}
    </div>
    <div class="row placeholders">
        <div class="col-xs-12 col-sm-6 placeholder">
            <h4>Categories</h4>
            {% if categories %}
                <ul>
                    {% for category in categories %}
                        <li><a href="{% url 'category' category.slug %}">{{ category.name }} ( {{ category.views }} times viewed )</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <strong>There is no categories present.</strong>
            {% endif %}
        </div>

        <div class="col-xs-12 col-sm-6 placeholder">
        <div class="panel panel-primary">
            <div class="panel-heading">
                    <h3 class="panel-title">Pages</h3>
            </div>
        {% if pages %}
            <ul>
                {% for page in pages %}
                    <li><a href='{{ page.url }}'>{{ page.title }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There is no pages present.</strong>
        {% endif %}
        </div>
    </div>
{% endblock %}








